<nav ref="navBar" class="navbar sticky-top navbar-light single-column-nav-container">
    <div ref="navBackground" class="nav-background"></div>
    <div class="container container-narrow nav-content">
        <button id="nav_dropdown_btn" class="nav-dropdown-toggle" type="button">
            <i class="material-icons">
                menu
            </i>
        </button>
        <a ref="navTitle" class="navbar-brand" href="{{.Site.BaseURL}}">
            {{.Site.Title}}
        </a>
    </div>
</nav>
<div class="single-column-header-container" ref="pageHead" >
    <a href="{{.Site.BaseURL}}">
        <div class="single-column-header-title">{{.Site.Title}}</div>
        {{ with .Site.Params.subtitle }}
        <div class="single-column-header-subtitle">{{.}}</div>
        {{ end }}

    </a>
</div>
