<div class="single-column-drawer-container" ref="drawer"
     v-bind:class="{ 'single-column-drawer-container-active': isDrawerOpen }">
    <div class="drawer-content">
        <div class="drawer-menu">
        {{ $current := .Permalink | absLangURL }}
        {{ range .Site.Menus.main }}
            {{$actived := "false"}}
                <!-- A problem caused by slash: if you use "eq" directly, you will get a result of "/tags/" and "/tags" -->
                {{if hasPrefix  $current (.URL|absLangURL)}}
                    {{$actived = "active"}}
                {{end}}
                <a class="a-block drawer-menu-item" href="{{ .URL }}">
                    {{ .Name }}
                </a>
        {{ end }}
        </div>
    </div>
</div>
<transition name="fade">
    <div v-bind:class="{ 'single-column-drawer-mask': mounted }" v-if="isDrawerOpen" v-on:click="toggleDrawer"></div>
</transition>
<nav ref="navBar" class="navbar sticky-top navbar-light single-column-nav-container">
    <div ref="navBackground" class="nav-background"></div>
    <div class="container container-narrow nav-content">
        <button id="nav_dropdown_btn" class="nav-dropdown-toggle" type="button" v-on:click="toggleDrawer">
            <i class="material-icons">
                menu
            </i>
        </button>
        <a ref="navTitle" class="navbar-brand" href="{{.Site.BaseURL}}">
            {{.Site.Title}}
        </a>
    </div>
</nav>
<div class="single-column-header-container" ref="pageHead"
     v-bind:style="{ transform: 'translateZ(0px) translateY('+.3*scrollY+'px)', opacity: 1-navOpacity }">
        <div class="single-column-header-title">{{.Site.Title}}</div>
        {{ with .Site.Params.subtitle }}
        <div class="single-column-header-subtitle">{{.}}</div>
        {{ end }}

        {{ with .Site.Params.github }}
            <a href="https://github.com/{{.}}"><img src="/icons/github.svg" width="20"/></a>
        {{ end }}
        {{ with .Site.Params.linkedin }}
            <a href="https://www.linkedin.com/in/{{.}}"><img src="/icons/linkedin.svg" width="20"/></a>
        {{ end }}
        {{ with .Site.Params.twitter }}
            <a href="https://twitter.com/{{.}}"><img src="/icons/twitter.svg" width="20"/></a>
        {{ end }}
        {{ with .OutputFormats.Get "rss" -}}
            <a href="{{ .Permalink }}"><img src="/icons/rss.svg" width="20"/></a>
        {{ end }}
        {{ with .Site.Params.email }}
            <a href="mailto:{{.}}"><img src="/icons/email.svg" width="20"/></a>
        {{ end }}

</div>
