<div class="single-column-drawer-container" ref="drawer" >
    <div class="drawer-content">
        <div class="drawer-menu">
        {{ $current := .Permalink | absLangURL }}
        {{ range .Site.Menus.main }}
            {{$actived := "false"}}
                <!-- A problem caused by slash: if you use "eq" directly, you will get a result of "/tags/" and "/tags" -->
                {{if hasPrefix  $current (.URL|absLangURL)}}
                    {{$actived = "active"}}
                {{end}}
                <a class="a-block drawer-menu-item" href="{{ .URL }}">
                    {{ .Name }}
                </a>
        {{ end }}
        </div>
    </div>
</div>
<div class="single-column-header-container" ref="pageHead" >
        <a href="{{.Site.BaseURL}}">
            <div class="single-column-header-title">{{.Site.Title}}</div>
            {{ with .Site.Params.subtitle }}
            <div class="single-column-header-subtitle">{{.}}</div>
            {{ end }}
        </a>

        {{ with .Site.Params.github }}
            <a href="https://github.com/{{.}}"><img src="/icons/github.svg" width="20"/></a>
        {{ end }}
        {{ with .Site.Params.linkedin }}
            <a href="https://www.linkedin.com/in/{{.}}"><img src="/icons/linkedin.svg" width="20"/></a>
        {{ end }}
        {{ with .Site.Params.twitter }}
            <a href="https://twitter.com/{{.}}"><img src="/icons/twitter.svg" width="20"/></a>
        {{ end }}
        <a href="/index.xml"><img src="/icons/rss.svg" width="20"/></a>
        {{ with .Site.Params.email }}
            <a href="mailto:{{.}}"><img src="/icons/email.svg" width="20"/></a>
        {{ end }}

</div>
