<div ref="sideContainer" class="side-container">
    <div class="a-block nav-head false">
        <div class="nav-title">
            {{.Site.Title}}
        </div>
        <div class="nav-subtitle">
            {{ with .Site.Params.subtitle }}
                {{.}}
            {{ end }}
        </div>
            {{ with .Site.Params.github }}
                <a href="https://github.com/{{.}}"><img src="/icons/github.svg" width="20"/></a>
            {{ end }}
            {{ with .Site.Params.linkedin }}
                <a href="https://www.linkedin.com/in/{{.}}"><img src="/icons/linkedin.svg" width="20"/></a>
            {{ end }}
            {{ with .Site.Params.twitter }}
                <a href="https://twitter.com/{{.}}"><img src="/icons/twitter.svg" width="20"/></a>
            {{ end }}
            {{ with .OutputFormats.Get "rss" -}}
                <a href="{{ .Permalink }}"><img src="/icons/rss.svg" width="20"/></a>
            {{ end }}
            {{ with .Site.Params.email }}
                <a href="mailto:{{.}}"><img src="/icons/email.svg" width="20"/></a>
            {{ end }}
    </div>


    <div class="nav-link-list">
        {{ $current := .Permalink | absLangURL }}
        {{ range .Site.Menus.main }}
            {{$actived := "false"}}
                <!-- A problem caused by slash: if you use "eq" directly, you will get a result of "/tags/" and "/tags" -->
                {{if hasPrefix  $current (.URL|absLangURL)}}
                    {{$actived = "active"}}
                {{end}}
                <a class="a-block nav-link-item {{$actived}}" href="{{ .URL }}">
                    {{ .Name }}
                </a>
        {{ end }}
    </div>

    <div class="nav-footer">
        {{partial "copyright.html" .}}
    </div>

</div>
